*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}
html,body{
    height: 100%;
    width: 100%;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 54px; 
    padding: 0 20px; 
    margin: 0px 20px 20px 20px;
}
#left {
    font-size: 2rem;
    font-weight: bold; 
}
#right ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 30px; 
}

#right ul li {
    margin: 0;
    padding: 0;
}

#right ul li a {
    text-decoration: none; 
    color: black; 

}
main #play {
    padding: 3vw 2.2vw;
    background-color: black;
    color: #fff;
    font-size: 1.3vw;
    position: fixed;
    text-transform: uppercase;
    font-family: futura;
    border-radius: 50%;
    opacity: 0;
    scale: 0;
}

main a.gradient-button {
    font-size: 25px;
    background: linear-gradient(to bottom, #00ffff, #0099cc);
    color: white;
    padding: 5px 30px;
    text-decoration: none; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    margin-top: 50px;
    margin-left: 5px;
}


#search-container {
    text-align: center;
    margin-top: 50px; 
}

#search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
main #cursor {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 40px);
}

main #content {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%; 
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

main #left {
    flex: 1;
    text-align: left;
    margin-right: 40px;
    margin-left: 20px;
}

main #right {
    flex: 1;
    text-align: center;
    margin-right: 40px;
    margin-left: 20px;
}

#rotating-image {
    max-width: 100%;
    vertical-align: middle;
}

#search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    margin-right: 10px;
}

#search-button {
    background: linear-gradient(to bottom, #00ffff, #0099cc);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
